{
    "swagger": "2.0",
    "info": {
        "title": "Onegeo API",
        "description": "Cette page décrit l'ensemble des services et opérations offerts par l'API d'administration de Onegeo.",
        "version": "0.0.1",
        "contact": {
            "email": "contact@neogeo.fr"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "data.grandlyon.onegeo.fr",
    "basePath": "/onegeo/api",
    "schemes": ["http"],
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        }
    },
    "security": [{
        "basicAuth": []
    }],
    "paths": {
        "/sources": {
            "get": {
                "tags": ["Source de données"],
                "summary": "Lister les sources disponibles",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Source"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": ["Source de données"],
                "summary": "Ajouter une source de données",
                "consumes": ["application/json"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Définition de la source de données",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Source"
                    }
                }],
                "responses": {
                    "201": {
                        "$ref": "#/responses/Created"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "409": {
                        "$ref": "#/responses/Conflict"
                    }
                }
            }
        },
        "/sources/{id}": {
            "get": {
                "tags": ["Source de données"],
                "summary": "Retourner une source de données identifiée",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "Identifiant de la source",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Source"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": ["Source de données"],
                "summary": "Supprimer une source de données",
                "description": "Supprime la source ainsi que, en cascade, les ressources et contextes d'indexation rattachés à celle-ci.",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "Identifiant de la source",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "204": {
                        "$ref": "#/responses/NoContent"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/sources/{id}/resources": {
            "get": {
                "tags": ["Source de données"],
                "summary": "Lister les ressources disponibles",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "Identifiant de la source",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Resource"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            }
        },
        "/sources/{sourceId}/resources/{resourceId}": {
            "get": {
                "tags": ["Source de données"],
                "summary": "Retourner une ressource identifiée",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "sourceId",
                        "in": "path",
                        "description": "Identifiant de la source",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Identifiant de la ressource",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/indices": {
            "get": {
                "tags": ["Context d'indexation"],
                "summary": "Lister les contextes d'indexation",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Index"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": ["Context d'indexation"],
                "summary": "Ajouter un nouveau contexte d'indexation",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "description": "Definition du contexte d'indexation",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Index"
                    }
                }],
                "responses": {
                    "201": {
                        "$ref": "#/responses/Created"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "409": {
                        "$ref": "#/responses/Conflict"
                    }
                }
            }
        },
        "/indices/{name}": {
            "get": {
                "tags": ["Context d'indexation"],
                "summary": "Retourner un contexte d'indexation identifié",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du contexte d'indexation",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Index"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": ["Context d'indexation"],
                "summary": "Mettre à jour un contexte d'indexation",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du contexte d'indexation",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "body",
                    "in": "body",
                    "description": "Definition du contexte d'indexation",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Index"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Index"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": ["Context d'indexation"],
                "summary": "Supprimer un contexte d'indexation",
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du contexte d'indexation",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "$ref": "#/responses/NoContent"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/indices/{name}/tasks": {
            "get": {
                "tags": ["Context d'indexation"],
                "summary": "Lister les tâches pour un contexte d'indexation identifié",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du contexte d'indexation",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/indices/{name}/tasks/{id}": {
            "get": {
                "tags": ["Context d'indexation"],
                "summary": "Retourner une tâche donnée pour un contexte d'indexation identifié",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du contexte d'indexation",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Identifiant de la tâche",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Task"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/profiles": {
            "get": {
                "tags": ["Profil de recherche"],
                "summary": "Lister les profils de recherche",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Profile"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": ["Profil de recherche"],
                "summary": "Ajouter un nouveau profil de recherche",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "description": "Définition du profil de recherche",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Profile"
                    }
                }],
                "responses": {
                    "201": {
                        "$ref": "#/responses/Created"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "409": {
                        "$ref": "#/responses/Conflict"
                    },
                    "423": {
                        "$ref": "#/responses/Locked"
                    }
                }
            }
        },
        "/profiles/{name}": {
            "get": {
                "tags": ["Profil de recherche"],
                "summary": "Retourner un profil de recherche identifié",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du profil de recherche",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": ["Profil de recherche"],
                "summary": "Mettre à jour un profil de recherche identifié",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du profil de recherche",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "body",
                    "in": "body",
                    "description": "Définition du profil de recherche",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Profile"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": ["Profil de recherche"],
                "summary": "Supprimer un profil de recherche identifié",
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du profil de recherche",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "$ref": "#/responses/NoContent"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/profiles/{name}/search": {
            "get": {
                "tags": ["Profil de recherche"],
                "summary": "Service de recherche pour le profil identifié",
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du profil de recherche",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "post": {
                "tags": ["Profil de recherche"],
                "summary": "Service de recherche pour le profil identifié",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du profil de recherche",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "mode",
                    "in": "query",
                    "description": "Mode de recherche",
                    "required": false,
                    "type": "string",
                    "enum": ["throw"]
                }, {
                    "name": "body",
                    "in": "body",
                    "description": "Définition de la requête",
                    "required": true,
                    "schema": {}
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            }
        },
        "/tokenfilters": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Lister les token-filters",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TokenFilter"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": ["Analyse"],
                "summary": "Ajouter un nouveau token-filter",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "description": "Définition du token-filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/TokenFilter"
                    }
                }],
                "responses": {
                    "201": {
                        "$ref": "#/responses/Created"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "409": {
                        "$ref": "#/responses/Conflict"
                    }
                }
            }
        },
        "/tokenfilters/{name}": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Retourner un token-filter identifié",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du token-filter",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TokenFilter"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": ["Analyse"],
                "summary": "Mettre à jour le token-filter",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du token-filter",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "body",
                    "in": "body",
                    "description": "Définition du token-filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/TokenFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TokenFilter"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": ["Analyse"],
                "summary": "Supprimer un token-filter identifié",
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du token-filter",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "$ref": "#/responses/NoContent"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/tokenizers": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Lister les tokenizers",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Tokenizer"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": ["Analyse"],
                "summary": "Ajouter un nouveau tokenizer",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "description": "Definition du tokenizer",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Tokenizer"
                    }
                }],
                "responses": {
                    "201": {
                        "$ref": "#/responses/Created"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "409": {
                        "$ref": "#/responses/Conflict"
                    }
                }
            }
        },
        "/tokenizers/{name}": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Retourne un token selon son id",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du tokenizer",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tokenizer"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": ["Analyse"],
                "summary": "Mettre à jour du tokenizer",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du tokenizer",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "body",
                    "in": "body",
                    "description": "Définition du tokenizer",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Tokenizer"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tokenizer"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": ["Analyse"],
                "summary": "Supprimer un tokenizer identifié",
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom du tokenizer",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "$ref": "#/responses/NoContent"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/analyzers": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Lister les analyzers",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/definitions/Analyzer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": ["Analyse"],
                "summary": "Créer un nouvel analyzer",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "description": "Definition de l'analyzer",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Analyzer"
                    }
                }],
                "responses": {
                    "201": {
                        "$ref": "#/responses/Created"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "409": {
                        "$ref": "#/responses/Conflict"
                    }
                }
            }
        },
        "/analyzers/{name}": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Retourner un analyzer identifié",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom de l'analyzer",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Analyzer"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": ["Analyse"],
                "summary": "Mettre à jour un analyzer",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "ID de l'analyseur requis",
                    "required": true,
                    "type": "integer"
                }, {
                    "name": "body",
                    "in": "body",
                    "description": "Définition de l'analyzer",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Analyzer"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Analyzer"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": ["Analyse"],
                "summary": "Supprimer un analyzer identifié",
                "parameters": [{
                    "name": "name",
                    "in": "path",
                    "description": "Nom de l'analyzer",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "$ref": "#/responses/NoContent"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/action": {
            "post": {
                "tags": ["Analyse"],
                "summary": "Executer une opération",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "description": "Définition de l'opération",
                    "required": true,
                    "schema": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": ["rebuild"]
                            },
                            "index": {
                                "type": "string",
                                "items": {
                                    "$ref": "#/definitions/Index/properties/name"
                                }
                            }
                        }
                    }
                }],
                "responses": {
                    "202": {
                        "$ref": "#/responses/Accepted"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    },
                    "423": {
                        "$ref": "#/responses/Locked"
                    }
                }
            }
        },
        "/tasks": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Lister les tâches",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/tasks/{id}": {
            "get": {
                "tags": ["Analyse"],
                "summary": "Retourner une tâche identifiée",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "Identifiant de la tâche",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Task"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                }
            }
        },
        "/sources_directories": {},
        "/supported_modes": {}
    },
    "responses": {
        "Created": {
            "description": "Requête traitée avec succès et création d’un document",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                },
                "Location": {
                    "type": "string"
                }
            }
        },
        "Accepted": {
            "description": "Requête traitée, mais sans garantie de résultat",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                }
            }
        },
        "NoContent": {
            "description": "Requête traitée avec succès mais pas d’information à renvoyer",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                }
            }
        },
        "Unauthorized": {
            "description": "Echec d'authentification",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                }
            }
        },
        "BadRequest": {
            "description": "La syntaxe de la requête est erronée",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                }
            }
        },
        "NotFound": {
            "description": "Introuvable",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                }
            }
        },
        "Conflict": {
            "description": "Conflit",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                }
            }
        },
        "Locked": {
            "description": "L'opération ne peut avoir lieu car la ressource est verrouillée",
            "headers": {
                "WWW_Authenticate": {
                    "type": "string"
                }
            }
        }
    },
    "definitions": {
        "Source": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "location": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                },
                "mode": {
                    "type": "string",
                    "enum": ["geonet", "pdf", "wfs"]
                }
            },
            "example": {
                "id": 8,
                "location": "/sources/8",
                "name": "wfs_grandlyon",
                "uri": "https://download.data.grandlyon.com/wfs/grandlyon?",
                "mode": "wfs"
            }
        },
        "Resource": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "location": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "columns": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string",
                                "enum": ["foo", "bar"]
                            },
                            "occurs": {
                                "type": "array"
                            }
                        }
                    }
                }
            }
        },
        "Index": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "location": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "columns": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "alias": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string",
                                "enum": ["foo", "bar"]
                            },
                            "rejected": {
                                "type": "boolean"
                            },
                            "searchable": {
                                "type": "boolean"
                            },
                            "analyzer": {
                                "type": "string",
                                "items": {
                                    "$ref": "#/definitions/Analyzer/properties/name"
                                }
                            },
                            "search_analyzer": {
                                "type": "string",
                                "items": {
                                    "$ref": "#/definitions/Analyzer/properties/name"
                                }
                            },
                            "weight": {
                                "type": "number"
                            },
                            "count": {
                                "type": "string"
                            },
                            "occurs": {
                                "type": "array"
                            },
                            "pattern": {
                                "type": "string"
                            }
                        }
                    }
                },
                "reindex_frequency": {
                    "type": "string",
                    "enum": ["monthly", "weekly", "daily"]
                }
            }
        },
        "Profile": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "indices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Index/properties/name"
                    }
                },
                "config": {
                    "type": "object"
                }
            }
        },
        "TokenFilter": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "config": {
                    "type": "object"
                },
                "reserved": {
                    "type": "boolean"
                }
            }
        },
        "Tokenizer": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "config": {
                    "type": "object"
                },
                "reserved": {
                    "type": "boolean"
                }
            }
        },
        "Analyzer": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "tokenizer": {
                    "type": "string",
                    "items": {
                        "$ref": "#/definitions/Tokenizer/properties/name"
                    }
                },
                "tokenfilters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TokenFilter/properties/name"
                    }
                },
                "reserved": {
                    "type": "boolean"
                }
            }
        },
        "Task": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "location": {
                    "type": "string"
                },
                "dates": {
                    "type": "object",
                    "items": {
                        "type": "object",
                        "properties": {
                            "start_date": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "stop_date": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "description": {
                    "type": "string"
                }
            }
        }
    }
}
